@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-primary-blue: #047aed;
  --bg-secondary-blue: #1c3fa8;
  --bg-secondary-white: #fff;
  --text-primary-white: #fff;
  --text-secondary-black: #333;
  --light-color: #f4f4f4;
  --dark-color: #002240;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
  
}


code, pre{
  background: #333;
  color: #fff;
  padding: 10px;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
}
