@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');




.main{
  font-family: 'Lato', 'sans-Serif';
  color: #000000;
  line-height: 1.6;
  font-size: 16px;
}

.main a{
  text-decoration: none;
  color: white;
}

.main h1 h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.main p{
  margin: 10px 0;
}

.main img{
  width: 100%;
}

.potrait img{
  width: 80%;
}

.abouttext{
  width: 75%;
  margin: auto;
  font-weight: 600;
  line-height: 1.8rem;
}


.main{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: visible;
}

.flex{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid3{
  grid-template-columns: repeat(3, 1fr);
}

.card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.card a{
  text-decoration: none;
  color: black;
}

.accordion-body a{
  color: black;
  text-decoration: none;
}

.card:nth-child(2) a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fab{
  color: red;
  background-color: red;
}

.applybtn{
  border: 1px #fff;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #047aed;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.btnoutline{
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover{
  transform: scale(.98);
}

.bgprimary, .btnprimary{
  background-color: #047aed;
  color: #fff;
}

.bgsecondary, .btnsecondary{
  background-color: #1c3fa8;
  color: #fff;
}

.bgdark, .btndark{
  background-color: #002240;
  color: #fff;
}

.bglight, .btnlight{
  background-color: #f4f4f4;
  color: #333;
}

.bgprimary a,
.btnprimary a,
.bgsecondary a,
.btnsecondary a,
.bgdark a,
.btndark a{
  color: #fff;
}

.alert{
  background-color: #f4f4f4;
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0px;
}

.alert-success{
  background-color: #5cb85c;
  color: #fff;
}

.alert-alert{
  background-color: #d9534f;
  color: #fff;
}

.textcenter{
  text-align: center;
}

.text-primary{
  color: #047aed;
}

.textsecondary{
  color: #1c3fa8;
}

.text-dark{
  color: #002240;
}

.text-light{
  color: #f4f4f4;
}

.lead{
  font-size: 17px;
}

.sm{
  font-size: 1rem;
}

.md{
  font-size: 2rem;
}

.lg{
  font-size: 3rem;
}

.xl{
  font-size: 4rem;
}


.my1{
  margin: 1rem 0;
}

.my2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my5{
  margin: 4rem 0;
}


.m1{
  margin: 1rem;
}

.m2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 4rem;
}

.mt{
  margin-top: 10%;
}

.py-1{
  padding: 1rem 0;
}

.py2{
  padding: 1.5rem 0;
}

.py3{
  padding: 2rem 0;
}

.py-4{
  padding: 3rem 0;
}

.py5{
  padding: 4rem 0;
}


.p1{
  padding: 1rem;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding: 2rem;
}

.p-4{
  padding: 3rem;
}

.p-5{
  padding: 4rem;
}


.navbar{
    background-color: #047aed;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100vw;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    height: 10vh;
    margin-bottom: 10%;
}

.logo{
  width: 90px;
}

.navbar ul{ 
    display: flex;
}

.navbar ul{
  list-style-type: none;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0px 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}


.navbar .flex{
    justify-content: space-between;
}

.showcase{
    height: 520px;
    background-color: #047aed;
    color: #fff;
    position: relative;
    padding-top: 8%;
}

.showcasetext{
    animation: slideInFromLeft 1s ease;
}

.showcaseform{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 00px;
    z-index: 100; 
    justify-self: flex-end;
    animation: slideInFromRight 1s ease;
}

.showcaseform > img { 
    border-radius: 10px;
}

.showcaseform .form-control{
    margin: 30px 0;
}

.showcaseform input[type='text'],
.showcaseform input[type='email']{
    border: 0;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcaseform input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -58px;
    right: 0;
    left: 0;
    background: #fff;
    -webkit-transform: skewY(-3.5deg);
    -moz-transform: skewY(-3.5deg);
    -ms-transform: skewY(-3.5deg);
    transform: skewY(-3.5deg);
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease;
}

.stats h2{
    font-weight: 800;
    font-size: 34px;
}

.statsitem{
    margin-top: 5%;
    background-color: #f4f4f4;
    padding: 40px;
    transition: transform 0.2s ease-in;
    border-radius: 5px;
    
}

.stats .statsitem:hover{
  transform: translateY(-15px);
}

.statsheading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

.languages .flex{
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    width: 40%;
    min-height: 25vh;
}

.languages .card:nth-child(2){
    background-color: #002240;
    color: #fff;
}

.languages p {
    max-width: 70%;
    margin: auto;
}

.languages h2 {
    margin-top: 10%;
}

.languages .card h4{
    font-size: 26px;
    margin-bottom: 10px;
}

.languages .card img {
    width: 20%;
}

.languages .card:hover{
    transform: translateY(-15px);
}

.featureshead img{
    width: 450px;
    justify-self: flex-end;
}

.featuressubhead img{
    width: 400px;
}

.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid{
    padding: 30px;
}

.features-main .grid > *:first-child{
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2){
    grid-column: 1 / span 2;
}

.docs-head img{
    width: 200px;
    justify-self: flex-end;
}

.docs-main h3{
    margin: 20px 0;
}

.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main a:hover{
    font-weight: bold;
}

.docs-main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.footer .social a{
    margin: 0 10px;
}

.bgfooter{
  background-color: #001d36;
}
.logo img{
  width: 100px;
}

.link a{
  text-decoration: underline;
  font-size: 1.1rem;
}

@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
}


@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }
    .showcase h1{
      padding-top: 80px;
    }
    .showcasetext{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease;
    }

    .showcaseform{
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease;
    }

    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }

    .featureshead,
    .featuressubhead,
    .docs-head{
        text-align: center;
    }

    .featureshead img,
    .featuressubhead img,
    .docs-head img{
        justify-self: center;
    }

    .features-main .grid> *:first-child,
    .features-main .grid> *:nth-child(2){
        grid-column: 1;
    }
}

@media(max-width: 500px){

    .navbar{
        height: 110px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}